<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
<h1>Nuestro primer html</h1>

<article class="panda">

    <h2>Panda!</h2>


    <p id="texto-1">
     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero beatae impedit temporibus animi corrupti a dolore quae nisi ab dolores alias, commodi officiis illum rerum, quidem doloremque sint iusto at!
     Eveniet vel nam distinctio velit iste. Qui quasi pariatur, nemo quos voluptates non maxime dolore facilis cupiditate cumque quidem, fugiat in aut quo veritatis id impedit quisquam porro quis ipsa.

    </p>


    <img class="img-big"

    src="https://th.bing.com/th/id/R.ebd161c2e499e028b6493e9b4260b24a?rik=JBxlRdB%2fKvczSw&pid=ImgRaw&r=0" alt="Oso Panda comiendo fruta">
</article>



<article class="mapache">

    <h2>Mapache!!>


        <p class="p2">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ab consequuntur voluptatibus molestiae fugiat vitae enim, dolore alias expedita praesentium veritatis adipisci in, totam fuga rerum laudantium quod maxime deserunt.
     </p>


     <img src="https://th.bing.com/th/id/OIP.9MJ2u7iSpZ1T2i7-IfqHkgHaFj?rs=1&pid=ImgDetMain" 
      alt="Oso panda rojo">
</article>

<h3>Esos son nuestros parrafos!</h3>
</body>
</html>