<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>Mi pagina</title>
</head>
<body>

    <!---- Ejercicio prueba-->
    <button id="btn-esconder">Ocultar contenido</button>
    <div id="div-contenido">
        <p>Este es el texto que se deberia mostrar</p>
    </div>
    <!---- Fin-->
    
    <button class="btn">Boton 1</button>
    <button class="btn">Boton 2</button>
    <button class="btn">Boton 3</button>
    <button class="btn">Boton 4</button>

    <!-- Ejercicio tareas dinamicas -->
     <h1>Tareas</h1>
     <form id="tarea-formulario">
        <input type="text" id="tarea-input" placeholder="Añadir una tarea">
        <button type="submit">Añadir</button>
    </form>
     <ul id="tarea-lista"></ul>

     <script src="index1.js"></script>
</body>
</html>