.encabezado{
    height: 150px;
    text-align: left;
    background-color: #CCCCCC;
}

.cuerpo{
    background-color: #666666;
    color: white;
    height: 800px;
}

.pie{
    background-color: #00CCFF;
    height: 100px;
}